<font face="Futura">
  <h3><div id='count'>You have <%= @count %> saved bookmarks</div></h3>

  <ul id='links' >
    <% @links.each do |link| %>
      <li>
        Title: <%= link.title %>
        URL: <a href ="<%= link.url %>"><%= link.url %></a>
        <!-- Tags: <%= link.tags.name %> -->
      </li>
    <% end %>
  </ul>
</font>
